body {
    /* max-width: 90%; */
    justify-content: center;
    justify-items: center;
    /* align-items: center; */
    margin: auto;

    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 100vh;
}

#profile {
    max-width: 85%;
    margin: auto;
}

#left-col {
    width: 25%;
    /* background-color: #f3f1f8; */
    background-image: linear-gradient(to right, rgb(255, 212, 231), rgb(231, 243, 255));
    /* margin-right: 3%; */
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

#pieces {
    width: 75%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: left;
    /* background-color: #f3f1f8; */
    background-color: white;
}

#specific-piece{
    margin: 2rem;
}

#buttons {
    margin: auto;
    max-width: 80%;
}

.personas {
    max-height: 20rem;
    width: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#inner-nav{
    justify-content: center;
    justify-items: center;
    margin: auto;
    margin-bottom: 1rem;
    align-items: center;
    text-align: center;
}

#seal-image {
    margin-top: 2rem;
    margin-bottom: 1.3rem;
    width: 13rem;
    height: auto;
}

#hello {
    margin-bottom: 1rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

#mall-direc{
    max-width: 40rem;
    width: 90%;
    height: auto;
    margin-top:.5rem;
    margin-bottom:.5rem;
}

#moss-site{
    width: 80%;
    max-width: 30rem;
    height: auto;
    margin-top:.5rem;
    margin-bottom:.5rem;
}

.inner-bullets{
    margin-top: .5rem;
    margin-bottom:.5rem;
    margin-left: .5rem;
    font-size: 14px;
}

.piece-title{
    text-align: center;
    margin-bottom: 1rem;
}

.btn-sm{
    margin-bottom: .3rem;
}

#spacer-2{
    margin-bottom: 2rem;
}

#spacer-1{
    margin-top: 3%;
}


#carouselExampleDark {
    width: 80%;
    height: auto;
    margin: auto;
}

#final-redesign{
    width: 95%;
    margin: auto;
    margin-top: .7rem;
    margin-bottom: .7rem;
}

#lo-fi-carousel, #hi-fi-carousel {
    max-width: 40rem;
    width: 90%;
    margin: auto;
    margin-top: .7rem;
    margin-bottom: .7rem;
}

.d-block {
    height: 90vh;
    width: 100%;
    object-fit: cover;
}

.port-btn{
    width: 80%;
}

#godiva-pdf-container{
    justify-content: center;
    justify-items: center;
}

#godiva-pdf{
    width: 30rem;
    height: 15rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.persona-des{
    font-size: smaller;
    margin-left: 2rem;
    margin-right: 2rem;
}
